@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
}
body{
  background: var(--background-colorBody);
  margin: 0%;
  padding: 0%;
  font-family: 'Noto Sans Mono', monospace;
}
.nav-top{
  background-color: #272727;
  position: relative;
  display: flex;
  flex-flow: row;
  height: 20px;
  width: 100%;
  justify-content: center;
  align-content: center; 
}
.switch{
  flex: 15%;
}
.nav-left{
  flex: 30%;
  background: blueviolet;
}
.nav-left p{
  margin-top: 1px;
}
.nav-center{
  flex: 30%;
  background: rgb(43, 226, 104);
}
.nav-center p{
  margin-top: 1px;
}
.nav-right{
  flex: 25%;
  background: rgb(198, 226, 43);
}
.nav-right p{
  margin-top: 1px;
}
#navbar{
  display: flex;
  flex-flow: row wrap;
  height: 120px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#icoTop1{
  position: absolute;
  left: 134px;
  display: none;
}
#icoTop2{
  position: absolute;
  left: 1152px;
  top: 67px;
  display: none;
}
#icoTopLogo{
  position: absolute;
  left: 550px;
  top: 20px;
  display: none;
}
.logo{
  flex: 10%;
  margin-right: 25%;
  text-align: center;
  width: auto;
}
.logo h1 a img{
  width: 200px;
  text-align: center;
}
.login{
  display: flex;
  flex-flow: row wrap;
  text-align: right;
  flex: 10%;
  margin-left: 10%;
  padding: 2px;
  text-align: left;
}
.login a{
  color: var(--color-text-login-a);
  font-size: 16px;
  text-decoration: none;
  padding: 2px;
  text-align:center;
}
.login a:hover{
  text-decoration: underline;
  font-size: 17px;
}
.car{
  text-align: center;
  margin-right: 10%;
}



  